body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(45deg, #83a4d4, #b6fbff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
  max-width: 1200px;
  padding: 20px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
  border-radius: 15px;
}

input,
button {
  margin-top: 1em;
  padding: 0.5em;
  font-size: 1em;
  border: none;
  border-radius: 4px;
}

input {
  width: 100%;
  border: 2px solid #007bff;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 4px;
}

button:hover {
  background-color: #0069d9;
  color: white;
}
